@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --primary: #4158d0;
  --text: #4d4b4b;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: var(--text);
  height: 100vh;
}

header {
  height: 100%;
  background-image: url("../img/bg-liquid.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 70%;
  position: relative;
  z-index: 1;
}

/* Navbar */

nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

nav .brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--text);
}

nav .nav-link ul {
  display: flex;
  gap: 15px;
  font-size: 15px;
  font-weight: 500;
}

nav .nav-link ul a {
  color: var(--text);
  position: relative;
  opacity: 0.8;
  transition: opacity 0.2s ease;
  font-weight: 500;
}

nav .nav-link ul a:hover {
  opacity: 1;
  width: 100%;
}

/* Content */

.content {
  margin-top: 1.25rem;
  padding: 10px 20px;
}

/* Banner */
